@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header {
    display: flex;
    justify-content: flex-start;
}

.imgLogo {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
}


body {
    height: 100%;
    font-family: 'Roboto';
    background: linear-gradient(142deg, rgba(250, 250, 213, 1) 0%, rgba(238, 217, 153, 1) 0%, rgba(242, 243, 244, 1) 78%);
}

#titre {
    display: flex;
    justify-content: center;
    color: rgb(232, 170, 66);
    font-weight: bold;
    margin: 3%;

}

#formulaire {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 5%;
}

#boutonProfil {
    display: flex;
    justify-content: center;
    margin: 5%;
}

#bouton {
    padding: 1%;
}

#supprimer {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.4em;
    height: 1.8em;
    width: 10em;
    text-align: center;
    background-color: #ef7109;
    box-shadow: 5px 5px 10px -2px #000000;
    margin: 2em 4em;
}
 #enregistrer {
     text-decoration: none;
     color: black;
     border: 1px solid black;
     border-radius: 0.4em;
     height: 1.8em;
     width: 10em;
     text-align: center;
     background-color: #ef7109;
     box-shadow: 5px 5px 10px -2px #000000;
     margin: 2em 4em;
 }