@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    height: 100%;
    font-family: 'Roboto';
    background: linear-gradient(142deg, rgba(250, 250, 213, 1) 0%, rgba(238, 217, 153, 1) 0%, rgba(242, 243, 244, 1) 78%);
}

h1 {
    font-size: 2em;
}

header {
    display: flex;
    justify-content: center;
}


#informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boutonProfil {
    display: flex;
    justify-content: center;
    margin: 2%;
}

