body {
    margin: auto;
}


.connection {
    display: flex;
    justify-content: flex-end;
}

.lien {
    margin-right: 10px;
}

.lien a:hover {
    color: red;
}

.lien a {
    color: black;
    text-decoration: none;
}

.enTete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    width: 50%;
}

.logo {
    width: 5em;
}
