@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    height: 100%;
    font-family: 'Roboto';
    background: linear-gradient(142deg, rgba(250, 250, 213, 1) 0%, rgba(238, 217, 153, 1) 0%, rgba(242, 243, 244, 1) 78%);
}

h1 {
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}

#form1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#categorieChoisie {
    color: #a9a9a9;
    width: 205px;
    height: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2em;
}

.row {
    display: flex;
    flex-direction: row;
}

label {
    margin-top: 2em;
}

input {
    margin-left: 2em;
    margin-top: 3.1em;
    border: 1px solid black;
    border-radius: 0.5em;
}

select {
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

.retrait {
    margin-top: 2.75em;
}

.inputCreer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.4em;
    height: 1.8em;
    width: 10em;
    text-align: center;
    background-color: #ef7109;
    box-shadow: 5px 5px 10px -2px #000000;
    margin-left: 10em;
    cursor: pointer;
}
