@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    min-height: 100vh;
    font-family: 'Roboto';
    background: linear-gradient(142deg, rgba(250, 250, 213, 1) 0%, rgba(238, 217, 153, 1) 0%, rgba(242, 243, 244, 1) 78%);
}

h1 {
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}

.rowheader {
    display: flex;
    justify-content: flex-end;
}

a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 1em 1em 1em 1em;
}

a:hover {
    color: #f3d01b;
    cursor: pointer;
}

.column {
    width: 50%;
}

.filtre {
    display: flex;
    flex-direction: column;
}

#divform {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.rowform {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1023px) {
    .rowform {
        display: flex;
        flex-direction: column;
    }

    .touteEnchere {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

fieldset {
    border-color: black;
    border-radius: 1em;
    display: flex;
    width: 35vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

label {
    margin: 0.5em 1em 0.5em 0.2em;
}

input {
    margin: 0.5em 1em 0.5em 1em;
    border: 1px solid black;
    border-radius: 0.5em;
}

select {
    margin: 1em 1em 1em 1em;
}

.retrait {
    margin-top: 2.75em;
}

.enchere {
    text-align: center;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 2em;
    width: 30em;
    background-color: wheat;
}

.touteEnchere {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4.8em;
    margin-bottom: 4em;
}

#rechercherEnchere {
    height: fit-content;
    height: 2.5em;
    width: 15em;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: #ef7109;
    cursor: pointer;
}

#rechercheArticle {
    height: 3em;
    width: 25em;
    border-radius: 0.5em;
    border: 2px black solid;
}

#categorie {
    height: 3em;
    width: 25em;
    border-radius: 0.5em;
    border: 2px black solid;
}
