#form1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#categorieChoisie {
    color: #a9a9a9;
    width: 205px;
    height: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
}